<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Borrar Películas</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/menu_admin.css">
        <link rel="stylesheet" href="/static/borrar_actores.css">
    </head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href=#>Streamflix: Borrar Películas</a>
        </div>
        <nav>
            <ul>
                <li><a href="/admin_menu" class="return-button">Volver al inicio</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <h1>Borrar Películas</h1>
    
    <!-- Mostrar la tabla solo si hay películas -->
    {% if peliculas and peliculas|length > 0 %}

        <!-- Mostrar mensaje si está presente -->
        {% if mensaje %}
            <div class="message">
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for pelicula in peliculas %}
                <tr>
                    <td>{{ pelicula.id }}</td>
                    <td>{{ pelicula.titulo }}</td>
                    <td>{{ pelicula.descripcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <!-- Si no hay película, mostrar un mensaje -->
        <p>No existen película.</p>
    {% endif %}
</body>
</html>
