<!-- header.html -->
<header>
    <div class="search-bar">
        <form action="/buscar" method="get">
            <input type="text" name="query" placeholder="Buscar contenido o actor..." required>
            <select name="tipo" required>
                <option value="contenido">Contenido</option>
                <option value="actor">Actor</option>
                <option value="todos">Todos</option>
            </select>
            <button type="submit">Buscar</button>
        </form>
    </div>

    <!-- Botón para redirigir al perfil del usuario dentro del contenedor -->
    <a href="/usuarios/{{ user_id }}/perfil" class="profile-button">Mi Perfil</a>
</header>
