<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Administrador</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/menu_admin.css">
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href=#>Streamflix: Menu Administrador</a>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="return-button">Volver al inicio</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div class="container">
        {% if message %}
            <div style="color: green; font-weight: bold;">{{ message }}</div>
        {% endif %}
        <!-- Contenedor con grid -->
        <div class="grid">
            <!-- Sección Usuarios -->
            <div class="section">
                <h2>Usuarios</h2>
                <ul>
                    <li><a href="/administrador/usuarios/lista">Listar todos los usuarios</a></li>
                </ul>
            </div>

            <!-- Sección Contenidos -->
            <div class="section">
                <h2>Contenidos</h2>
                <ul>
                    <li><a href="/administrador/pelicula/crear">Crear película</a></li>
                    <li><a href="/administrador/serie/crear">Crear serie</a></li>
                    <li><a href="/administrador/temporada/crear">Crear temporada</a></li>
                    <li><a href="/administrador/episodio/crear">Crear episodio</a></li>
                    <li><a href="/administrador/genero/crear">Crear género</a></li>
                    <li style="color: #e50914;">Actualizar película:
                        <ul>
                            {% for pelicula in peliculas %}
                            <li>
                                &emsp; <a href="/administrador/peliculas/{{pelicula.id}}">- {{pelicula.titulo}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li style="color: #e50914;">Actualizar serie:
                        <ul>
                            {% for serie in series %}
                            <li>
                                &emsp; <a href="/administrador/series/{{serie.id}}">- {{serie.titulo}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="#">Actualizar temporada</a></li>
                    <li><a href="#">Actualizar episodio</a></li>
                    <li style="color: #e50914;">Actualizar género:
                        <ul>
                            {% for genero in generos %}
                            <li>
                                &emsp; <a href="#">- {{genero.nombre}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="#">Borrar película</a></li>
                    <li><a href="#">Borrar serie</a></li>
                    <li><a href="#">Borrar temporada</a></li>
                    <li><a href="#">Borrar episodio</a></li>
                    <li><a href="#">Borrar género</a></li>
                    <li><a href="#">Añadir subtítulos a un contenido</a></li>
                    <li><a href="#">Añadir doblajes a un contenido</a></li>
                </ul>
            </div>

            <!-- Sección Actores y Directores -->
            <div class="section">
                <h2>Actores y Directores</h2>
                <ul>
                    <li><a href="#">Crear actor</a></li>
                    <li><a href="#">Crear director</a></li>
                    <li><a href="#">Actualizar actor</a>
                        <ul>
                            {% for actor in actores %}
                            <li>
                                &emsp;- {{actor.nombre}}
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/directores/actualizar">Actualizar director</a>
                        <ul>
                            {% for director in directores %}
                            <li>
                                &emsp;- {{director.nombre}}
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/actores/borrar">Borrar actor</a></li>
                    <li><a href="/directores/borrar">Borrar director</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>