<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar serie</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/header_footer.css">
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href=#>Streamflix: Actualizar serie</a>
        </div>
        <nav>
            <ul>
                <li><a href="/admin_menu" class="return-button">Volver al menú</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <main>
        <div class="container">
            <h1>Actualizar serie</h1>
            <form action="/administrador/update_serie/{{serie_id}}" method="post">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" value="{{titulo}}" required>

                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" value="{{descripcion}}" required>

                <label for="fecLanzamiento">Fecha de lanzamiento:</label>
                <input type="text" id="fecLanzamiento" name="fecLanzamiento" value="{{fecLanzamiento}}" required>

                <label for="genero">Género:</label>
                <select id="genero" name="genero" required>
                    {% for genero in generos %}
                        <option value="{{ genero.id }}" {% if genero.id == idGenero %}selected{% endif %}>
                            {{ genero.nombre }}
                        </option>
                    {% endfor %}
                </select>

                <button type="submit">Actualizar datos</button>
            </form>
        </div>
    </main>
    {% include "footer.html" %}
</body>

</html>