<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/menu_admin.css">
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href="#" alt="Página principal de Streamflix" aria-label="Página principal de Streamflix">Streamflix: Lista de usuarios</a>
        </div>
        <nav>
            <ul>
                <li><a href="/admin_menu" aria-label="Volver al menú de administrador">Volver al menú de administrador</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <h1>Lista de Usuarios</h1>
    <table border="1" aria-labelledby="tabla-usuarios">
        <caption id="tabla-usuarios">Lista de usuarios registrados en Streamflix</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Idioma</th>
                <th>Plan de Suscripción</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.idioma }}</td>
                <td>{{ usuario.idPlanSuscripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
