<!DOCTYPE html>
<html lang="en">

<head>
    <title>Actualizar episodio</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/header_footer.css">   
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href="#" aria-label="Volver a la página principal de actualización de episodios">Streamflix: Actualizar episodio</a>
        </div>
        <nav>
            <ul>
                <li><a href="/admin_menu" class="return-button" aria-label="Volver al menú principal">Volver al menú</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    {% if error_message %}
    <p style="color:red;" aria-live="assertive">{{ error_message }}</p>
    {% endif %}
    
    <div class="container">
        <form action="/administrador/update_episodio/series/{{idSerie}}/temporadas/{{idTemporada}}/episodios/{{episodio_id}}" method="post" aria-labelledby="formActualizarEpisodio">
            <h1 id="formActualizarEpisodio">Actualizar Episodio</h1>

            <!-- Número de episodio -->
            <label for="numeroEpisodio" aria-label="Número de episodio">Número de episodio:</label>
            <input type="number" id="numeroEpisodio" name="numeroEpisodio" value="{{numeroEpisodio}}" required aria-required="true" aria-label="Ingrese el número del episodio"><br>

            <!-- Duración -->
            <label for="duracion" aria-label="Duración del episodio">Duración:</label>
            <input type="number" id="duracion" name="duracion" value="{{duracion}}" required aria-required="true" aria-label="Ingrese la duración del episodio en minutos"><br>

            <!-- Director -->
            <label for="idDirector" aria-label="Seleccione el director del episodio">Director:</label>
            <select id="idDirector" name="idDirector" required aria-required="true" aria-label="Seleccione el director del episodio">
                {% for director in directores %}
                    <option value="{{ director.id }}" {% if director.id == idDirector %}selected{% endif %}>
                        {{ director.nombre }}
                    </option>
                {% endfor %}
            </select><br>             

            <button type="submit" aria-label="Actualizar la información del episodio">Actualizar Episodio</button>
        </form>
    </div>
</body>

</html>
