<!DOCTYPE html>
<html lang="en">

<head>
    <title>Actualizar temporada</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/header_footer.css">
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href="#" alt="Página principal de actualización de temporada" title="Streamflix: Actualizar temporada">Streamflix: Actualizar temporada</a>
        </div>
        <nav>
            <ul>
                <li><a href="/admin_menu" class="return-button" alt="Volver al menú principal" aria-label="Volver al menú principal">Volver al menú</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <!-- Muestra mensajes de error si existen -->
    {% if error_message %}
    <p style="color:red;" aria-live="assertive">{{ error_message }}</p>
    {% endif %}
    
    <div class="container">
        <form action="/administrador/update_temporada/{{temporada_id}}" method="post" aria-labelledby="formActualizarTemporada">
            <!-- Selector de serie -->
            <label for="id_serie">Serie:</label>
            <select id="id_serie" name="id_serie" required aria-describedby="serieHelp">
                {% for serie in series %}
                    <option value="{{ serie.id }}" {% if serie.id == idSerie %}selected{% endif %}>
                        {{ serie.titulo }}
                    </option>
                {% endfor %}
            </select><br>

            <!-- Campo para el número de temporada -->
            <label for="numeroTemporada">Número de temporada:</label>
            <input type="number" id="numeroTemporada" name="numeroTemporada" value="{{numeroTemporada}}" required aria-describedby="numeroTemporadaHelp"><br>

            <!-- Botón para actualizar -->
            <button type="submit" aria-label="Actualizar temporada seleccionada">Actualizar Temporada</button>
        </form>
    </div>
</body>

</html>
