<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Administrador</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/menu_admin.css">
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href=#>Streamflix: Menu Administrador</a>
        </div>
        <nav>
            <ul>
                <li><a href="/"class="return-button">Volver al inicio</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div class="container">
        {% if message %}
            <div style="color: green; font-weight: bold;">{{ message }}</div>
        {% endif %}
        <!-- Contenedor con grid -->
        <div class="grid">
            <!-- Sección Usuarios -->
            <div class="section">
                <h2>Usuarios</h2>
                <ul>
                    <li><a href="/usuarios">Listar todos los usuarios</a></li>
                </ul>
            </div>

            <!-- Sección Contenidos -->
            <div class="section">
                <h2>Contenidos</h2>
                <ul>
                    <li><a href="/admin_crear_pelicula">Crear película</a></li>
                    <li><a href="/admin_crear_serie">Crear serie</a></li>
                    <li><a href="#">Crear temporada</a></li>
                    <li><a href="#">Crear episodio</a></li>
                    <li><a href="#">Crear género</a></li>
                    <li><a href="#">Actualizar película</a>
                        <ul>
                            {% for pelicula in peliculas %}
                            <li>
                                {{pelicula.titulo}}
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                    <li><a href="#">Actualizar serie</a></li>
                    <li><a href="#">Actualizar temporada</a></li>
                    <li><a href="#">Actualizar episodio</a></li>
                    <li><a href="#">Actualizar género</a></li>
                    <li><a href="#">Borrar película</a></li>
                    <li><a href="#">Borrar serie</a></li>
                    <li><a href="#">Borrar temporada</a></li>
                    <li><a href="#">Borrar episodio</a></li>
                    <li><a href="#">Borrar género</a></li>
                    <li><a href="#">Añadir subtítulos a un contenido</a></li>
                    <li><a href="#">Añadir doblajes a un contenido</a></li>
                </ul>
            </div>

            <!-- Sección Actores y Directores -->
            <div class="section">
                <h2>Actores y Directores</h2>
                <ul>
                    <li><a href="#">Crear actor</a></li>
                    <li><a href="#">Crear director</a></li>
                    <li><a href="#">Actualizar actor</a></li>
                    <li><a href="/directores/actualizar">Actualizar director</a></li>
                    <li><a href="/actores/borrar">Borrar actor</a></li>
                    <li><a href="/directores/borrar">Borrar director</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
