<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Crear Actor</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/header_footer.css">
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href="#">Streamflix: Crear Actor</a>
        </div>
        <nav>
            <ul>
                <li><a href="/admin_menu" class="return-button">Volver al menú</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <h1>Crear Actor</h1>
    <div class="container">
        <form action="/administrador/actor/crear" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="nacionalidad">Nacionalidad:</label>
            <input type="text" id="nacionalidad" name="nacionalidad" required>

            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>

            <button type="submit">Crear Actor</button>
        </form>

        {% if error_message %}
        <p style="color:red;">{{ error_message }}</p>
        {% endif %}
    </div>
</body>

</html>
