<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Borrar Series</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/menu_admin.css">
        <link rel="stylesheet" href="/static/borrar_actores.css">
    </head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href=#>Streamflix: Borrar Series</a>
        </div>
        <nav>
            <ul>
                <li><a href="/admin_menu" class="return-button">Volver al inicio</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <h1>Borrar Series</h1>
    
    <!-- Mostrar la tabla solo si hay películas -->
    {% if series and series|length > 0 %}

        <!-- Mostrar mensaje si está presente -->
        {% if mensaje %}
            <div class="message">
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for serie in series %}
                <tr>
                    <td>{{ serie.id }}</td>
                    <td>{{ serie.titulo }}</td>
                    <td>{{ serie.descripcion }}</td>
                    <td>
                        <form action="/series/{{ serie.id }}/borrar" method="post" style="display:inline;">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <!-- Si no hay series, mostrar un mensaje -->
        <p>No existen series.</p>
    {% endif %}
</body>
</html>
