<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Borrar Géneros</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/menu_admin.css">
        <link rel="stylesheet" href="/static/borrar_actores.css">
    </head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href="#">Streamflix: Borrar Géneros</a>
        </div>
        <nav>
            <ul>
                <li><a href="/admin_menu" class="return-button">Volver al inicio</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <h1>Borrar Géneros</h1>
    
    <!-- Mostrar la tabla solo si hay géneros -->
    {% if generos and generos|length > 0 %}

        <!-- Mostrar mensaje si está presente -->
        {% if mensaje %}
            <div class="message">
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>Nombre Género</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for genero in generos %}
                    <tr>                            
                        <td>{{ genero.nombre }}</td>
                        <td>{{ genero.descripcion }}</td>
                        <td>
                            <!-- Formulario para eliminar el género -->
                            <form action="/generos/{{ genero.id }}/borrar" method="post" style="display:inline;">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <!-- Si no hay géneros, mostrar un mensaje -->
        <p>No existen géneros.</p>
    {% endif %}
</body>
</html>
