<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menú Administrador</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/menu_admin.css">
        <link rel="stylesheet" href="/static/borrar_actores.css">
    </head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href=#>Streamflix: Menu Administrador</a>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="return-button">Volver al inicio</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <h1>Borrar Actores</h1>
    
    <!-- Mostrar la tabla solo si hay actores -->
    {% if actores and actores|length > 0 %}

        <!-- Mostrar mensaje si está presente -->
        {% if mensaje %}
            <div class="message">
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Nacionalidad</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for actor in actores %}
                <tr>
                    <td>{{ actor.id }}</td>
                    <td>{{ actor.nombre }}</td>
                    <td>{{ actor.nacionalidad }}</td>
                    <td>{{ actor.fechaNacimiento }}</td>
                    <td>
                        <form action="/actores/{{ actor.id }}/borrar" method="post" style="display:inline;">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <!-- Si no hay actores, mostrar un mensaje -->
        <p>No existen actores.</p>
    {% endif %}
</body>
</html>
