<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de búsqueda</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/resultados.css">
    <link rel="stylesheet" href="/static/header_footer.css">
</head>
<body>
    {% include "header.html" %}

    <div class="container">
        <h1>Resultados de búsqueda</h1>
        <p>Búsqueda: {{ query }} - Tipo: {{ tipo }}</p>

        {% if mensaje %}
            <p class="no-results-message">{{ mensaje }}</p>  <!-- Mostrar mensaje si no hay resultados -->
        {% else %}
            <!-- Mostrar resultados de contenidos si los hay -->
            {% if contenidos %}
                <div class="results">
                    <h2>Contenidos relacionados</h2>
                    {% for item in contenidos %}
                        <div class="result-item">
                            <h3>{{ item.titulo }}</h3>
                            <p><strong>Género:</strong> {{ item.genero }}</p>
                            <a href="/detalles_contenido/{{ item.id }}?user_id={{ user_id }}" class="details-button">Detalles</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Mostrar resultados de actores si los hay -->
            {% if actores %}
                <div class="results">
                    <h2>Actores relacionados</h2>
                    {% for actor in actores %}
                        <div class="result-item">
                            <h3>{{ actor.nombre }}</h3> <!-- Nombre del actor -->

                            {% if contenidos_por_actor[actor.id] %}
                                <p><strong>Contenido relacionado:</strong></p>
                                <ul>
                                    {% for contenido in contenidos_por_actor[actor.id] %}
                                        <li>
                                            <a href="/detalles_contenido/{{ contenido.id }}?user_id={{ user_id }}">
                                                {{ contenido.titulo }} - {{ contenido.genero }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No se encontraron contenidos relacionados con este actor.</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% endif %}
    </div>

    {% include "footer.html" %}
</body>
</html>
